# Temporary files #
*.csv#
.DS_Store
*.pyc
*.swp
*.swo
*~
\#*
.#*
._*

# IDE files #
/.idea
# Project file has different names on Spyder 2.3.8 and Spyder 3.1.3
.spyderproject
.spyproject

# Distribution #
/build/
/dist/
