# Temporary files #
.DS_Store
*.pyc
*.swp
*.swo
*~
\#*
.#*
._*

# IDE files #
/.idea
.spyderproject

# Distribution #
/build/
/dist/

# Temporary data files #
cbmcfs3_runner/extra_data/faostat_forestry.csv
