Country report for "{{short_name}}" ({{iso2_code}})
===================================================

General Information
-------------------
This is an country report that can include information from several scenarios.

Processing
----------
* This report and all the analysis was generated using the `{{project_name}}` python pipeline at:

<{{project_url}}>

* Version `{{project_version}}` of the pipeline was used.

* This document was generated at `{{now}}` on host `{{hostname}}`.

{{#git}}
* The exact git hash of the latest commit was: {{git_hash}}

* Also more simply referred to by its shortened tag `{{git_tag}}`.
{{/git}}
-------

Comparison of harvest fulfillment
---------------------------------
Below we compare the outcome between the two different scenarios `static_demand` and `calibration` (respectively) by
taking their "expected harvest against the provided harvest" graphs.

{{harvest_exp_pro_static}}

{{harvest_exp_pro_calib}}

{{harvest_discrepancy}}

