{
  "output_path": "{{mdb_output_path}}",
  "import_config": {
    "ageclass_path":           "{{ageclass_input_path}}",
    "classifiers_path":        "{{classifiers_input_path}}",
    "disturbance_events_path": "{{disturbance_events_input_path}}",
    "disturbance_types_path":  "{{disturbance_types_input_path}}",
    "inventory_path":          "{{inventory_input_path}}",
    "transition_rules_path":   "{{transition_rules_input_path}}",
    "yield_path":              "{{yield_input_path}}",
  },
  "mapping_config": {
    "spatial_units": {
      "mapping_mode": "SingleDefaultSpatialUnit",
      "default_spuid": 42
    },
    "disturbance_types": {
      "disturbance_type_mapping": [
        {
          "user_dist_type": "Natural forest fire",
          "default_dist_type": "Wildfire"
        },
        {
          "user_dist_type": "Senescence",
          "default_dist_type": "Natural succession"
        },
        {
          "user_dist_type": "Mountain pine beetle infestation",
          "default_dist_type": "Insect disturbance"
        },
        {
          "user_dist_type": "ClearCut Harvesting",
          "default_dist_type": "Clear-cut with slash-burn"
        }
      ]
    },
    "species": {
      "species_classifier": "Working Species Or Leading Species",
      "species_mapping": [
        {
          "user_species": "Balsam Fir",
          "default_species": "Balsam fir"
        },
        {
          "user_species": "Black Spruce",
          "default_species": "Black spruce"
        },
        {
          "user_species": "Western Larch",
          "default_species": "Western larch"
        },
        {
          "user_species": "Jack Pine",
          "default_species": "Jack pine"
        },
        {
          "user_species": "Other Spruce",
          "default_species": "Other spruce"
        },
        {
          "user_species": "Red Pine",
          "default_species": "Red pine"
        },
        {
          "user_species": "Unspecified Softwood",
          "default_species": "Unspecified softwood species"
        },
        {
          "user_species": "Larch",
          "default_species": "Larch - Genus type"
        },
        {
          "user_species": "White Spruce",
          "default_species": "White spruce"
        }
      ]
    },
    "nonforest": null
  }
}