{
  "output_path": "{{{mdb_output_path}}}",
  "import_config": {
    "path":                          "{{{xls_input_path}}}",
    "ageclass_table_name":           "AgeClasses$",
    "classifiers_table_name":        "Classifiers$",
    "disturbance_events_table_name": "DistEvents$",
    "disturbance_types_table_name":  "DistType$",
    "inventory_table_name":          "Inventory$",
    "transition_rules_table_name":   "Transitions$",
    "yield_table_name":              "Growth$"
  },
  "mapping_config": {
    "spatial_units": {
      "mapping_mode":     "SeperateAdminEcoClassifiers",
      "admin_classifier": "classifier3",
      "eco_classifier":   "classifier6",
      "admin_mapping":
          {{{map_admin_bound}}}
      ,
      "eco_mapping":
          {{{map_eco_bound}}}
    }
    ,
    "disturbance_types": {
      "disturbance_type_mapping":
        {{{map_disturbance}}}
    },
    "species": {
      "species_classifier": "Species",
      "species_mapping":
        {{{map_species}}}
    }
  }
}